.follow-the1 {
  margin: 0;
}
.follow-the-highway-container3 {
  width: 100%;
}
.follow-the-highway-container2,
.of1 {
  position: absolute;
  letter-spacing: -1.28px;
  line-height: 56px;
  display: flex;
  align-items: center;
}
.follow-the-highway-container2 {
  top: 0;
  left: calc(50% - 157.6px);
  font-size: var(--font-size-20xl-7);
  width: 315.4px;
  height: 168px;
}
.of1 {
  top: 168px;
  left: calc(50% - 163.7px);
  justify-content: center;
  width: 44.8px;
  height: 56px;
}
.forex1 {
  top: 168px;
  left: calc(50% + 57px);
  width: 107px;
}
.forex1,
.profitable1,
.trading1 {
  position: absolute;
  letter-spacing: -1.28px;
  line-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
}
.trading1 {
  top: 224px;
  left: calc(50% - 71.8px);
  font-size: var(--font-size-20xl-5);
  width: 143.7px;
}
.profitable1 {
  top: 0;
  left: calc(50% - 87.8px);
  width: 175.8px;
}
.image-icon1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -8px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 6.4px;
}
.container14 {
  position: absolute;
  top: 168px;
  left: calc(50% - 119px);
  width: 175.6px;
  height: 56px;
  font-size: var(--font-size-20xl-4);
}
.join-free-class1,
.mobbyfx-is-your1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobbyfx-is-your1 {
  top: 299.5px;
  left: calc(50% - 174.7px);
  font-size: var(--font-size-base);
  line-height: 25.9px;
  font-family: var(--font-red-hat-display);
  color: var(--color-darkgray);
  width: 349.6px;
  height: 77.7px;
}
.join-free-class1 {
  top: 12px;
  left: calc(50% - 55.95px);
  letter-spacing: 0.56px;
  text-transform: capitalize;
  width: 114.2px;
  height: 16px;
}
.button8 {
  position: absolute;
  top: 397.7px;
  left: 43.2px;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-mediumslateblue);
  box-sizing: border-box;
  width: 143.9px;
  height: 40px;
  font-size: var(--font-size-sm);
  color: var(--color-mediumslateblue);
  font-family: var(--font-rubik);
}
.enroll-now2 {
  position: absolute;
  top: 12px;
  left: calc(50% - 39.35px);
  letter-spacing: 0.56px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 16px;
}
.button9 {
  position: absolute;
  top: 397.7px;
  left: 197.1px;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-mediumslateblue);
  box-sizing: border-box;
  width: 110.7px;
  height: 40px;
  font-size: var(--font-size-sm);
  color: var(--color-mediumslateblue);
  font-family: var(--font-rubik);
}
.container13 {
  position: absolute;
  top: 95px;
  left: calc(50% - 175px);
  width: 351px;
  height: 437.7px;
  font-size: var(--font-size-21xl);
}
.offer1 {
  color: var(--color-mediumslateblue);
}
.what-we-have-container2 {
  position: absolute;
  top: 0;
  left: calc(50% - 135px);
  line-height: 40px;
  display: flex;
  align-items: center;
  width: 270.1px;
  height: 80px;
}
.heading-27 {
  position: absolute;
  top: calc(50% - 3618.45px);
  left: calc(50% - 155.5px);
  width: 312px;
  height: 80px;
  font-size: var(--font-size-20xl-8);
}
.your-dreams-deserve-container2 {
  position: absolute;
  top: 0;
  left: calc(50% - 171.5px);
  line-height: 25.9px;
  display: flex;
  align-items: center;
  width: 343.3px;
  height: 51.8px;
}
.container15 {
  position: absolute;
  top: calc(50% - 3518.95px);
  left: calc(50% - 175px);
  width: 351px;
  height: 52.2px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
}
.heading-44 {
  top: 41px;
  left: calc(50% - 97px);
  line-height: 24px;
  justify-content: center;
  width: 194.3px;
  height: 24px;
}
.heading-44,
.join-telegram-channel1,
.we-foster-a-container2 {
  position: absolute;
  display: flex;
  align-items: center;
}
.we-foster-a-container2 {
  top: 133.4px;
  left: calc(50% - 103.4px);
  font-size: var(--font-size-mini);
  letter-spacing: -0.32px;
  line-height: 25.9px;
  color: var(--color-gray-200);
  width: 207px;
  height: 147.2px;
}
.join-telegram-channel1 {
  top: 12px;
  left: calc(50% - 82.4px);
  letter-spacing: 0.56px;
  justify-content: center;
  width: 170.1px;
  height: 16px;
}
.link5 {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 98.4px);
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-mediumslateblue);
  box-sizing: border-box;
  width: 196.8px;
  height: 40px;
}
.background10 {
  position: absolute;
  top: 349px;
  left: calc(50% - 134px);
  background-color: var(--color-white);
  width: 268px;
  height: 100px;
  font-size: var(--font-size-sm);
  color: var(--color-mediumslateblue);
  font-family: var(--font-rubik);
}
.backgroundbordershadow4 {
  position: absolute;
  width: calc(100% - 121px);
  top: 1269.4px;
  right: 60px;
  left: 61px;
  box-shadow: 0 8.1px 6.52px rgba(0, 0, 0, 0.01),
    0 20px 13px rgba(0, 0, 0, 0.01), 0 38.5px 25.48px rgba(0, 0, 0, 0.01),
    0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 100px 80px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-5xl);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 450px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
}
.heading-45 {
  top: 41px;
  left: calc(50% - 78.9px);
  line-height: 24px;
  justify-content: center;
  width: 158.1px;
  height: 24px;
}
.enroll-now3,
.heading-45,
.we-provide-a-container2 {
  position: absolute;
  display: flex;
  align-items: center;
}
.we-provide-a-container2 {
  top: 94.5px;
  left: calc(50% - 102.9px);
  font-size: var(--font-size-mini);
  letter-spacing: -0.32px;
  line-height: 25.9px;
  color: var(--color-gray-200);
  width: 206.1px;
  height: 225px;
}
.enroll-now3 {
  top: 12px;
  left: calc(50% - 39.35px);
  letter-spacing: 0.56px;
  justify-content: center;
  width: 79px;
  height: 16px;
}
.backgroundbordershadow5,
.link6 {
  position: absolute;
  box-sizing: border-box;
}
.link6 {
  top: calc(50% - 20px);
  left: calc(50% - 55.4px);
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-mediumslateblue);
  width: 110.7px;
  height: 40px;
}
.backgroundbordershadow5 {
  width: calc(100% - 121px);
  top: 1749.4px;
  right: 60px;
  left: 61px;
  box-shadow: 0 8.1px 6.52px rgba(0, 0, 0, 0.01),
    0 20px 13px rgba(0, 0, 0, 0.01), 0 38.5px 25.48px rgba(0, 0, 0, 0.01),
    0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 100px 80px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-5xl);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gainsboro-100);
  height: 450px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
}
.heading-46 {
  top: 41px;
  left: calc(50% - 99.1px);
  line-height: 24px;
  justify-content: center;
  width: 198.5px;
  height: 24px;
}
.click-here-to1,
.heading-46,
.our-free-live-container2 {
  position: absolute;
  display: flex;
  align-items: center;
}
.our-free-live-container2 {
  top: 120.4px;
  left: calc(50% - 102.6px);
  font-size: var(--font-size-mini);
  letter-spacing: -0.32px;
  line-height: 25.9px;
  color: var(--color-gray-200);
  width: 205.4px;
  height: 173.2px;
}
.click-here-to1 {
  top: 12px;
  left: calc(50% - 84.25px);
  letter-spacing: 0.56px;
  justify-content: center;
  width: 173.5px;
  height: 16px;
}
.backgroundbordershadow6,
.link7 {
  position: absolute;
  box-sizing: border-box;
}
.link7 {
  top: calc(50% - 20px);
  left: calc(50% - 100.2px);
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-mediumslateblue);
  width: 200.5px;
  height: 40px;
}
.backgroundbordershadow6 {
  width: calc(100% - 121px);
  top: 2229.4px;
  right: 60px;
  left: 61px;
  box-shadow: 0 8.1px 6.52px rgba(0, 0, 0, 0.01),
    0 20px 13px rgba(0, 0, 0, 0.01), 0 38.5px 25.48px rgba(0, 0, 0, 0.01),
    0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 100px 80px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-5xl);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gainsboro-100);
  height: 450px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
}
.trading-bots1 {
  position: absolute;
  top: 40px;
  left: calc(50% - 63.9px);
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 127.9px;
  height: 48px;
}
.heading-47 {
  position: absolute;
  top: 1px;
  left: calc(50% - 134px);
  width: 268px;
  height: 118px;
}
.book-a-session1,
.our-bots-are1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-bots-are1 {
  top: 132.4px;
  left: calc(50% - 102.9px);
  font-size: var(--font-size-mini);
  letter-spacing: -0.32px;
  line-height: 25.9px;
  color: var(--color-gray-200);
  width: 205.9px;
  height: 203.2px;
}
.book-a-session1 {
  top: 12px;
  left: calc(50% - 56.05px);
  letter-spacing: 0.56px;
  width: 112.5px;
  height: 16px;
}
.backgroundbordershadow7,
.link8 {
  position: absolute;
  box-sizing: border-box;
}
.link8 {
  top: calc(50% - 20px);
  left: calc(50% - 72.1px);
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-mediumslateblue);
  width: 144.1px;
  height: 40px;
}
.backgroundbordershadow7 {
  width: calc(100% - 121px);
  top: 2709.4px;
  right: 60px;
  left: 61px;
  box-shadow: 0 8.1px 6.52px rgba(0, 0, 0, 0.01),
    0 20px 13px rgba(0, 0, 0, 0.01), 0 38.5px 25.48px rgba(0, 0, 0, 0.01),
    0 64.8px 46.85px rgba(0, 0, 0, 0.02), 0 100px 80px rgba(0, 0, 0, 0.02);
  border-radius: var(--br-5xl);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gainsboro-100);
  height: 450px;
  overflow: hidden;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
}
.choose-your-plan-container2 {
  top: 3308.9px;
  left: calc(50% - 148.3px);
  font-size: var(--font-size-16xl);
  line-height: 35px;
  width: 297.9px;
  height: 35px;
}
.choose-your-plan-container2,
.heading-35,
.learning-forex-made1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.learning-forex-made1 {
  top: 3354px;
  left: 96.3px;
  font-size: var(--font-size-base);
  line-height: 25.9px;
  text-align: left;
  width: 199.7px;
  height: 25.9px;
}
.heading-35 {
  top: 3653.3px;
  left: calc(50% - 60.2px);
  font-size: var(--font-size-xl);
  line-height: 28px;
  font-weight: 500;
  justify-content: center;
  width: 122px;
  height: 28px;
}
.b4,
.heading-28 {
  position: absolute;
  height: 36px;
}
.b4 {
  top: -0.5px;
  left: calc(50% - 31.3px);
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
}
.heading-28 {
  top: calc(50% - 878.85px);
  left: calc(50% - 30.8px);
  width: 62.6px;
  font-size: var(--font-size-17xl);
}
.enrol-now4,
.full-access-to-container8 {
  position: absolute;
  display: flex;
  align-items: center;
}
.full-access-to-container8 {
  top: 3778.9px;
  left: calc(50% - 121.5px);
  font-size: var(--font-size-base);
  line-height: 25.9px;
  color: var(--color-darkgray);
  width: 244.1px;
  height: 77.7px;
}
.enrol-now4 {
  top: 12px;
  left: calc(50% - 37.15px);
  letter-spacing: 0.56px;
  text-transform: capitalize;
  justify-content: center;
  width: 74.6px;
  height: 16px;
}
.button10 {
  position: absolute;
  top: 4136.6px;
  left: 128.9px;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumslateblue);
  width: 134.3px;
  height: 40px;
  color: var(--color-white);
  font-family: var(--font-rubik);
}
.heading-36 {
  position: absolute;
  top: 4330.6px;
  left: calc(50% - 65.8px);
  font-size: var(--font-size-xl);
  line-height: 28px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132.9px;
  height: 28px;
}
.b5,
.heading-29 {
  position: absolute;
  height: 36px;
}
.b5 {
  top: -0.5px;
  left: calc(50% - 38.3px);
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76.9px;
}
.heading-29 {
  top: calc(50% - 201.55px);
  left: calc(50% - 37.8px);
  width: 76.6px;
  font-size: var(--font-size-17xl);
}
.full-access-to-container10 {
  position: absolute;
  top: 4456.1px;
  left: calc(50% - 121.5px);
  font-size: var(--font-size-base);
  line-height: 25.9px;
  color: var(--color-darkgray);
  display: flex;
  align-items: center;
  width: 244.1px;
  height: 77.7px;
}
.button11 {
  position: absolute;
  top: 4794.2px;
  left: 128.9px;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumslateblue);
  width: 134.3px;
  height: 40px;
  color: var(--color-white);
  font-family: var(--font-rubik);
}
.heading-37 {
  position: absolute;
  top: 4988.2px;
  left: calc(50% - 66.1px);
  font-size: var(--font-size-xl);
  line-height: 28px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 133.6px;
  height: 28px;
}
.b6,
.heading-210 {
  position: absolute;
  height: 36px;
}
.b6 {
  top: -0.5px;
  left: calc(50% - 43.6px);
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 87.5px;
}
.heading-210 {
  top: calc(50% + 456.05px);
  left: calc(50% - 43.1px);
  width: 87.2px;
  font-size: var(--font-size-17xl);
}
.full-access-to-container12 {
  position: absolute;
  top: 5113.8px;
  left: calc(50% - 121.5px);
  font-size: var(--font-size-base);
  line-height: 25.9px;
  color: var(--color-darkgray);
  display: flex;
  align-items: center;
  width: 244.1px;
  height: 77.7px;
}
.button12 {
  position: absolute;
  top: 5471.5px;
  left: 128.9px;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumslateblue);
  width: 134.3px;
  height: 40px;
  color: var(--color-white);
  font-family: var(--font-rubik);
}
.most-popular1 {
  position: absolute;
  top: 14.6px;
  left: calc(50% - 133px);
  line-height: 25.9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 101.1px;
  height: 25.9px;
}
.background14 {
  position: absolute;
  width: 75.7%;
  top: 4916.2px;
  right: 12.02%;
  left: 12.28%;
  background-color: var(--color-mediumslateblue);
  height: 55.9px;
  font-size: var(--font-size-base-9);
  color: var(--color-white);
}
.free-a-z-courses-container2 {
  position: absolute;
  top: 0;
  left: calc(50% - 167.1px);
  letter-spacing: -1.5px;
  line-height: 48px;
  display: flex;
  align-items: center;
  width: 334.5px;
  height: 192px;
}
.heading-14 {
  position: absolute;
  top: calc(50% - 129px);
  left: calc(50% - 175.5px);
  width: 351px;
  height: 192px;
}
.view-courses1 {
  position: absolute;
  top: 12px;
  left: calc(50% - 49.15px);
  letter-spacing: 0.56px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99.8px;
  height: 16px;
}
.button13 {
  position: absolute;
  top: 218px;
  left: 111.4px;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumslateblue);
  width: 128.3px;
  height: 40px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-rubik);
}
.container16 {
  position: absolute;
  top: calc(50% + 1799.55px);
  left: calc(50% - 175px);
  width: 351px;
  height: 258px;
  font-size: var(--font-size-20xl-7);
}
.border6,
.border7 {
  position: absolute;
  border-radius: var(--br-49981xl);
  box-sizing: border-box;
}
.border6 {
  top: -103px;
  left: -103px;
  border: 3px solid var(--color-black);
  width: 206px;
  height: 206px;
  opacity: 0.2;
}
.border7 {
  right: -104px;
  bottom: -104px;
  border: 4px solid var(--color-black);
  width: 208px;
  height: 208px;
}
.subscribe-to-our-container2 {
  position: absolute;
  top: -0.5px;
  left: calc(50% - 121.35px);
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 242.9px;
  height: 60px;
}
.heading-211 {
  position: absolute;
  top: calc(50% - 95px);
  left: calc(50% - 121.4px);
  width: 242.7px;
  height: 60px;
}
.email-address1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 84.7px;
  height: 15px;
}
.container17 {
  position: absolute;
  width: calc(100% - 32px);
  top: 15px;
  right: 16px;
  left: 16px;
  height: 15px;
  overflow: hidden;
}
.input1 {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 150px);
  backdrop-filter: blur(20px);
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 300px;
  height: 45px;
}
.subscribe-now1 {
  position: absolute;
  top: 14.5px;
  left: calc(50% - 54.2px);
  letter-spacing: 0.56px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110.5px;
  height: 16px;
}
.button14 {
  position: absolute;
  top: calc(50% + 5px);
  left: calc(50% - 84.2px);
  border-radius: var(--br-7xs);
  background-color: var(--color-black);
  width: 168.4px;
  height: 45px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-mediumslateblue);
  font-family: var(--font-rubik);
}
.form1 {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 155.5px);
  width: 311px;
  height: 100px;
  text-align: left;
  font-size: var(--font-size-smi-8);
  font-family: var(--font-inter);
}
.background15 {
  position: absolute;
  top: calc(50% + 3498.15px);
  left: calc(50% - 175px);
  border-radius: var(--br-xl);
  background-color: var(--color-mediumslateblue);
  width: 351px;
  height: 290px;
  overflow: hidden;
  font-size: var(--font-size-11xl);
}
.logo1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 41.6px;
  height: 24px;
}
.background16 {
  position: absolute;
  top: calc(50% - 361.5px);
  left: calc(50% - 67px);
  width: 134px;
  height: 42px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: transparent;
}
.mobby-fx-academy1 {
  position: absolute;
  top: 0;
  left: calc(50% - 141px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 282.2px;
  height: 21px;
}
.information-and-educational1,
.own-efforts1,
.please-recognize-that1,
.success-or-failure1 {
  position: absolute;
  top: 21px;
  left: calc(50% - 159.1px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 318.4px;
  height: 21px;
}
.own-efforts1,
.please-recognize-that1,
.success-or-failure1 {
  top: 42px;
  left: calc(50% - 129.9px);
  width: 260.1px;
}
.own-efforts1,
.success-or-failure1 {
  top: 63px;
  left: calc(50% - 155.7px);
  width: 311.8px;
}
.own-efforts1 {
  top: 84px;
  left: calc(50% - 42.1px);
  width: 84.5px;
}
.paragraph8 {
  position: absolute;
  top: calc(50% - 299.5px);
  left: calc(50% - 161px);
  width: 322px;
  height: 105px;
  color: var(--color-darkslategray-200);
}
.mentorship-plan1 {
  position: absolute;
  top: 5px;
  left: calc(50% - 53.3px);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106.9px;
  height: 18px;
}
.item-link5 {
  position: absolute;
  top: calc(50% - 90px);
  left: calc(50% - 63.3px);
  border-radius: var(--br-8xs);
  width: 126.6px;
  height: 28px;
}
.mentorship-courses1 {
  position: absolute;
  top: 5px;
  left: calc(50% - 66.7px);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 133.9px;
  height: 18px;
}
.item-link6 {
  position: absolute;
  top: calc(50% - 52px);
  left: calc(50% - 76.7px);
  border-radius: var(--br-8xs);
  width: 153.4px;
  height: 28px;
}
.faqs1 {
  position: absolute;
  top: 5px;
  left: calc(50% - 16.8px);
  font-weight: 500;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.9px;
  height: 18px;
  text-decoration: none;
}
.item-link7 {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 26.8px);
  border-radius: var(--br-8xs);
  width: 53.6px;
  height: 28px;
}
.terms-and-conditions1 {
  position: absolute;
  top: 5px;
  left: calc(50% - 72.15px);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144.8px;
  height: 18px;
}
.item-link8 {
  position: absolute;
  top: calc(50% + 24px);
  left: calc(50% - 82.1px);
  border-radius: var(--br-8xs);
  width: 164.3px;
  height: 28px;
}
.privacy-policy1 {
  position: absolute;
  top: 5px;
  left: calc(50% - 45.55px);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91.4px;
  height: 18px;
}
.item-link9 {
  position: absolute;
  top: calc(50% + 62px);
  left: calc(50% - 55.6px);
  border-radius: var(--br-8xs);
  width: 111.1px;
  height: 28px;
}
.list1 {
  position: absolute;
  top: calc(50% - 103.5px);
  left: calc(50% - 156px);
  width: 312px;
  height: 180px;
}
.email-infomobbyfxcom1,
.horizontalborder1 {
  position: absolute;
  font-size: var(--font-size-sm);
}
.horizontalborder1 {
  top: calc(50% - 169.5px);
  left: calc(50% - 175.5px);
  border-bottom: 1px solid var(--color-aliceblue);
  box-sizing: border-box;
  width: 351px;
  height: 207px;
  color: var(--color-mediumslateblue);
}
.email-infomobbyfxcom1 {
  top: 445px;
  left: calc(50% - 171.2px);
  display: flex;
  align-items: center;
  width: 342.7px;
  height: 18px;
}
.cibo-bryan1 {
  text-decoration: underline;
  color: var(--color-mediumslateblue);
}
.built-with-container2 {
  position: absolute;
  top: 612px;
  left: calc(50% - 120.6px);
  display: flex;
  align-items: center;
  width: 241.7px;
  height: 21px;
  color: var(--color-dimgray-100);
}
.div1,
.telephone1 {
  top: 0;
  display: flex;
  align-items: center;
}
.telephone1 {
  position: absolute;
  left: calc(50% - 95.95px);
  width: 78.8px;
  height: 18px;
}
.div1 {
  left: calc(50% - 56.75px);
  justify-content: center;
  width: 114.1px;
}
.div1,
.frame22,
.link9 {
  position: absolute;
  height: 18px;
}
.link9 {
  top: 0;
  left: calc(50% - 17.55px);
  width: 113.5px;
}
.frame22 {
  top: 471px;
  left: 79.5px;
  width: 191.9px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.mobbyfx-academy-all1,
.reserved1 {
  position: absolute;
  top: 0;
  left: calc(50% - 141.65px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 283.3px;
  height: 21px;
}
.reserved1 {
  top: 21px;
  left: calc(50% - 34.35px);
  width: 68.6px;
}
.frame23 {
  position: absolute;
  top: 539px;
  left: 34px;
  width: 283.3px;
  height: 42px;
  overflow: hidden;
  color: var(--color-dimgray-100);
}
.link-icon3,
.link-icon4 {
  top: calc(50% - 15px);
  border-radius: var(--br-81xl);
  width: 30px;
}
.link-icon3 {
  position: absolute;
  left: calc(50% - 55px);
  height: 30px;
}
.link-icon4 {
  left: calc(50% - 15px);
}
.frame24,
.link-icon4,
.link-icon5 {
  position: absolute;
  height: 30px;
}
.link-icon5 {
  top: calc(50% - 15px);
  left: calc(50% + 25px);
  border-radius: var(--br-81xl);
  width: 30px;
}
.frame24 {
  top: 663px;
  left: 120.5px;
  width: 110px;
  overflow: hidden;
}
.container18 {
  position: absolute;
  top: calc(50% + 3868.15px);
  left: calc(50% - 175px);
  width: 351px;
  height: 723px;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
}
.images-13-31 {
  position: absolute;
  top: 595px;
  left: 0;
  border-radius: var(--br-12xs);
  width: 390px;
  height: 300px;
  object-fit: cover;
}
.what-our-student-container2 {
  position: absolute;
  top: -0.3px;
  left: calc(50% - 105.05px);
  line-height: 33.6px;
  display: flex;
  align-items: center;
  width: 210.3px;
  height: 67.2px;
}
.heading-38 {
  position: absolute;
  width: calc(100% - 180.9px);
  top: 7294px;
  right: 98.5px;
  left: 82.4px;
  height: 67.2px;
  font-size: var(--font-size-4xl-8);
}
.amazing-analysis3,
.i-enrolled-into-container2 {
  position: absolute;
  left: 32px;
  line-height: 25.9px;
  display: flex;
  align-items: center;
}
.amazing-analysis3 {
  top: 46.5px;
  color: var(--color-black);
  width: 137px;
  height: 25.9px;
}
.i-enrolled-into-container2 {
  top: 90.4px;
  width: 280.6px;
  height: 181.3px;
}
.odibo-efe-sit3hxvvjpg1 {
  position: absolute;
  top: calc(50% + 104.55px);
  left: 32px;
  border-radius: var(--br-981xl);
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.forex-trader3,
.realityfx1 {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 76.8px;
  height: 16px;
}
.forex-trader3 {
  top: 19px;
  font-size: var(--font-size-base-9);
  color: var(--color-black);
  width: 96.5px;
}
.overlay4,
.paragraph9 {
  position: absolute;
  top: calc(50% + 105.55px);
  left: 32px;
  width: 96.3px;
  height: 35px;
}
.overlay4 {
  top: calc(50% - 191.1px);
  left: 0;
  border-radius: var(--br-5xl);
  background-color: var(--color-gainsboro-200);
  width: 351px;
  height: 375.1px;
  color: var(--color-dimgray-200);
}
.amazing-analysis4 {
  top: 46.5px;
  left: 32px;
  width: 137px;
  height: 25.9px;
}
.amazing-analysis4,
.more1,
.read1,
.starting-my-forex-container2 {
  position: absolute;
  line-height: 25.9px;
  display: flex;
  align-items: center;
}
.starting-my-forex-container2 {
  top: 90.4px;
  left: 32px;
  color: var(--color-dimgray-200);
  width: 285.5px;
  height: 181.3px;
}
.more1,
.read1 {
  top: -2.5px;
  left: 219.9px;
  font-weight: 500;
  width: 37.9px;
  height: 25.9px;
}
.more1 {
  top: 23.4px;
  left: 0;
  width: 38.7px;
}
.paragraph10 {
  position: absolute;
  top: 248.2px;
  left: 32px;
  width: 257.5px;
  height: 46.9px;
  color: var(--color-darkslategray-200);
}
.student2 {
  position: absolute;
  top: 16px;
  left: 0;
  display: flex;
  align-items: center;
  width: 58.1px;
  height: 21px;
}
.loveth-gabriel-cjsxgzyajpg1 {
  position: absolute;
  top: calc(50% + 117.5px);
  left: 32px;
  border-radius: var(--br-981xl);
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.loveth-gabriel1 {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 107.5px;
  height: 16px;
}
.paragraph11 {
  position: absolute;
  top: calc(50% + 118.5px);
  left: 80px;
  width: 107.1px;
  height: 35px;
  color: var(--color-dimgray-200);
}
.overlay5 {
  position: absolute;
  top: calc(50% - 204px);
  left: 401px;
  border-radius: var(--br-5xl);
  background-color: var(--color-gainsboro-200);
  width: 351px;
  height: 401px;
}
.i-joined-firepips-container2 {
  position: absolute;
  top: 90.4px;
  left: 32px;
  line-height: 25.9px;
  color: var(--color-dimgray-200);
  display: flex;
  align-items: center;
  width: 280.1px;
  height: 207.2px;
}
.container20,
.read-more1 {
  position: absolute;
  height: 25.9px;
}
.read-more1 {
  top: 0;
  left: 0;
  line-height: 25.9px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 80.5px;
}
.container20 {
  top: 271.7px;
  left: 99.8px;
  width: 80.1px;
  color: var(--color-darkslategray-200);
}
.precedes1 {
  position: absolute;
  top: 1px;
  left: 0;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 69.8px;
  height: 16px;
}
.paragraph12 {
  position: absolute;
  top: calc(50% + 118.5px);
  left: 80px;
  width: 96.3px;
  height: 35px;
  color: var(--color-dimgray-200);
}
.container19,
.overlay6 {
  position: absolute;
  width: 351px;
}
.overlay6 {
  top: calc(50% - 204px);
  left: 802px;
  border-radius: var(--br-5xl);
  background-color: var(--color-gainsboro-200);
  height: 401px;
}
.container19 {
  top: calc(50% + 2825.05px);
  left: calc(50% - 183.5px);
  height: 468px;
  overflow-x: auto;
  text-align: left;
  font-size: var(--font-size-base);
}
.horizontal-divider2 {
  position: absolute;
  width: 100%;
  top: 9.9px;
  right: 0;
  left: 0;
  border-radius: 84.78px;
  background-color: var(--color-mediumslateblue);
  height: 1.5px;
}
.backgroundborderoverlayblur2 {
  position: absolute;
  top: calc(50% - 10.6px);
  left: calc(50% - 0.05px);
  backdrop-filter: blur(20px);
  background-color: var(--color-cornflowerblue);
  border: 2px solid var(--color-mediumslateblue);
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.frame25 {
  position: absolute;
  top: 7378.1px;
  left: 103.5px;
  width: 168.1px;
  height: 21.2px;
  overflow: hidden;
}
.mfa-logo-6-icon1 {
  width: 100px;
  position: relative;
  height: 30px;
  object-fit: cover;
}
.container-icon1 {
  width: 45px;
  position: relative;
  border-radius: var(--br-3xs);
  height: 45px;
}
.container21 {
  position: absolute;
  top: calc(50% - 4591.15px);
  left: calc(50% - 194.5px);
  width: 390px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
  box-sizing: border-box;
  gap: 209px;
}
.horizontal-divider3 {
  position: absolute;
  width: 100%;
  top: 9.9px;
  right: 0;
  left: 0;
  border-radius: 141.15px;
  background-color: var(--color-mediumslateblue);
  height: 1.5px;
}
.backgroundborderoverlayblur3 {
  position: absolute;
  top: calc(50% - 10.6px);
  left: calc(50% - 0px);
  backdrop-filter: blur(20px);
  background-color: var(--color-cornflowerblue);
  border: 2px solid var(--color-mediumslateblue);
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.frame26 {
  position: absolute;
  top: 1161.3px;
  left: 55.6px;
  width: 280.8px;
  height: 21.2px;
  overflow: hidden;
}
.method1 {
  position: absolute;
  top: 5px;
  left: 0;
  width: 57.7px;
  height: 21px;
}
.fiat1,
.method1,
.overlay7 {
  display: flex;
  align-items: center;
}
.fiat1 {
  width: 27.5px;
  position: relative;
  text-transform: capitalize;
  height: 21px;
  flex-shrink: 0;
}
.overlay7 {
  position: absolute;
  top: calc(50% - 15.5px);
  left: calc(50% - 2.9px);
  border-radius: var(--br-3xs);
  background-color: var(--color-orange);
  width: 47.2px;
  height: 31px;
  flex-direction: column;
  justify-content: center;
  color: var(--color-mediumslateblue);
}
.svg-icon21 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% + 54.2px);
  width: 16px;
  height: 16px;
}
.frame27 {
  position: absolute;
  top: 3440.3px;
  left: 20.5px;
  width: 140.4px;
  height: 31px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
}
.off1,
.pay-with-dollar1 {
  position: absolute;
  top: 5px;
  left: 0;
  display: flex;
  align-items: center;
  width: 147.5px;
  height: 20px;
}
.off1 {
  top: 8.5px;
  left: 5.5px;
  width: 19.2px;
  height: 13px;
}
.backgroundshadow1 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% + 7.5px);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  border-radius: var(--br-981xl);
  background-color: var(--color-white);
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.on1 {
  position: absolute;
  top: 8.5px;
  left: 7.4px;
  display: flex;
  align-items: center;
  width: 15.4px;
  height: 13px;
}
.container22 {
  top: calc(50% - 15px);
  left: calc(50% - 37.5px);
  border-radius: var(--br-981xl);
  width: 30px;
  color: var(--color-white);
}
.container22,
.frame28,
.frame29 {
  position: absolute;
  height: 30px;
  overflow: hidden;
}
.frame29 {
  top: 0;
  left: 271px;
  width: 75px;
  font-size: var(--font-size-3xs);
  color: var(--color-mediumslateblue);
}
.frame28 {
  top: 3496.3px;
  left: 20.5px;
  width: 346px;
  text-align: left;
  font-size: var(--font-size-mini);
}
.full-access-to8,
.svg-icon22 {
  position: absolute;
  top: 7.8px;
  left: 0;
  width: 16px;
  height: 16px;
}
.full-access-to8 {
  top: 0;
  left: 26px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 190.8px;
  height: 19.6px;
}
.frame30 {
  position: absolute;
  top: 3887.2px;
  left: 68px;
  width: 216.8px;
  height: 23.8px;
  overflow: hidden;
  text-align: left;
}
.svg-icon23 {
  position: absolute;
  top: 7.8px;
  left: 0;
  width: 13.2px;
  height: 16px;
}
.access-to-beginner-container2 {
  position: absolute;
  top: 0;
  left: 23.2px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 231.6px;
  height: 39.2px;
}
.frame31 {
  position: absolute;
  top: 3931.8px;
  left: 68px;
  width: 254.8px;
  height: 39.2px;
  overflow: hidden;
  text-align: left;
}
.free-trade-signals1 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 169.1px;
  height: 19.6px;
}
.frame32 {
  position: absolute;
  top: 3996px;
  left: 68px;
  width: 195.1px;
  height: 23.8px;
  overflow: hidden;
  text-align: left;
}
.help-support1 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 100.1px;
  height: 19.6px;
}
.frame33 {
  position: absolute;
  top: 4040.6px;
  left: 68px;
  width: 126.1px;
  height: 23.8px;
  overflow: hidden;
  text-align: left;
}
.private-community1 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 124.5px;
  height: 19.6px;
}
.frame34 {
  position: absolute;
  top: 4085.2px;
  left: 68px;
  width: 150.5px;
  height: 23.8px;
  overflow: hidden;
  text-align: left;
}
.everything-in-monthly1 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 207.7px;
  height: 19.6px;
}
.frame35 {
  position: absolute;
  top: 4564.5px;
  left: 68px;
  width: 233.7px;
  height: 23.8px;
  overflow: hidden;
  text-align: left;
}
.weekly-live-trading1 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 186px;
  height: 19.6px;
}
.frame36 {
  position: absolute;
  top: 4609px;
  left: 68px;
  width: 212px;
  height: 23.8px;
  overflow: hidden;
  text-align: left;
}
.mentors-personal-contact1 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 171.3px;
  height: 19.6px;
}
.frame37 {
  position: absolute;
  top: 4653.6px;
  left: 68px;
  width: 197.3px;
  height: 23.8px;
  overflow: hidden;
  text-align: left;
}
.free-trading-plan1 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 171.9px;
  height: 19.6px;
}
.frame38 {
  position: absolute;
  top: 4698.2px;
  left: 68px;
  width: 197.9px;
  height: 23.8px;
  overflow: hidden;
  text-align: left;
}
.priority-support1 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 103.5px;
  height: 19.6px;
}
.frame39 {
  position: absolute;
  top: 4742.8px;
  left: 68px;
  width: 129.5px;
  height: 23.8px;
  overflow: hidden;
  text-align: left;
}
.everything-in-31 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 213.3px;
  height: 19.6px;
}
.frame40 {
  position: absolute;
  top: 5222.1px;
  left: 68px;
  width: 239.3px;
  height: 23.8px;
  overflow: hidden;
  text-align: left;
}
.daily-live-trading1 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 163.7px;
  height: 19.6px;
}
.frame41 {
  position: absolute;
  top: 5266.7px;
  left: 68px;
  width: 189.7px;
  height: 23.8px;
  overflow: hidden;
  text-align: left;
}
.svg-icon34 {
  position: absolute;
  top: 7.8px;
  left: 0;
  width: 8px;
  height: 16px;
}
.minutes-group-call-container2 {
  position: absolute;
  top: 0;
  left: 18px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 237.9px;
  height: 39.2px;
}
.frame42 {
  position: absolute;
  top: 5311.3px;
  left: 68px;
  width: 255.9px;
  height: 39.2px;
  overflow: hidden;
  text-align: left;
}
.certificate-of-attendance1 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 165.3px;
  height: 19.6px;
}
.frame43 {
  position: absolute;
  top: 5375.5px;
  left: 68px;
  width: 191.3px;
  height: 23.8px;
  overflow: hidden;
  text-align: left;
}
.top-priority-support1 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 130.9px;
  height: 19.6px;
}
.frame44 {
  position: absolute;
  top: 5420.1px;
  left: 68px;
  width: 156.9px;
  height: 23.8px;
  overflow: hidden;
  text-align: left;
}
.top-plan1 {
  position: absolute;
  top: 14.6px;
  left: calc(50% - 133px);
  line-height: 25.9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64.7px;
  height: 25.9px;
}
.background17 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-mediumslateblue);
  height: 55.9px;
}
.everything-is-61 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 212.8px;
  height: 19.6px;
}
.frame48 {
  top: 0;
  left: 0;
  width: 238.8px;
  height: 23.8px;
}
.frame46,
.frame47,
.frame48 {
  position: absolute;
  overflow: hidden;
}
.frame47 {
  top: 305.9px;
  left: 20px;
  width: 256px;
  height: 23.8px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.frame46 {
  top: 0;
  left: 0;
  width: 296px;
  height: 329.7px;
}
.advanced-live-trading1 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 197.4px;
  height: 19.6px;
}
.frame52 {
  top: 0;
  width: 223.4px;
  height: 23.8px;
  overflow: hidden;
}
.frame51,
.frame52,
.svg-icon39 {
  position: absolute;
  left: 0;
}
.frame51 {
  top: 0;
  width: 256px;
  height: 23.8px;
  overflow: hidden;
}
.svg-icon39 {
  top: 7.8px;
  width: 8.7px;
  height: 16px;
}
.minutes-call-with-container2 {
  position: absolute;
  top: 0;
  left: 18.7px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 220.6px;
  height: 39.2px;
}
.frame50,
.frame53,
.frame54 {
  position: absolute;
  top: 0;
  left: 0;
  width: 239.3px;
  height: 39.2px;
  overflow: hidden;
}
.frame50,
.frame53 {
  top: 44.6px;
  width: 256px;
}
.frame50 {
  top: 278.5px;
  height: 83.8px;
}
.virtual-graduation-party1 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 156.6px;
  height: 19.6px;
}
.frame56,
.frame57 {
  position: absolute;
  top: 0;
  left: 0;
  width: 182.6px;
  height: 23.8px;
  overflow: hidden;
}
.frame56 {
  top: 387.3px;
  width: 256px;
  text-align: left;
}
.super-priority-instant1 {
  position: absolute;
  top: 0;
  left: 26px;
  line-height: 19.6px;
  display: flex;
  align-items: center;
  width: 193.7px;
  height: 19.6px;
}
.frame58,
.frame59 {
  position: absolute;
  top: 0;
  left: 0;
  width: 219.7px;
  height: 23.8px;
  overflow: hidden;
}
.frame58 {
  top: 431.8px;
  width: 256px;
  text-align: left;
}
.full-access-to-container14 {
  position: absolute;
  top: 0;
  left: calc(50% - 121.95px);
  line-height: 25.9px;
  display: flex;
  align-items: center;
  width: 244.1px;
  height: 77.7px;
}
.frame60 {
  position: absolute;
  top: 125.5px;
  left: 5.8px;
  width: 244.3px;
  height: 77.7px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-darkgray);
}
.frame61,
.heading-39 {
  position: absolute;
  top: 0;
  height: 28px;
}
.heading-39 {
  left: calc(50% - 69.35px);
  line-height: 28px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 139px;
}
.frame61 {
  left: 58.3px;
  width: 139.3px;
  overflow: hidden;
  font-size: var(--font-size-xl);
}
.b7,
.frame62,
.heading-212 {
  position: absolute;
  height: 36px;
}
.b7 {
  top: -0.5px;
  left: calc(50% - 44.5px);
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89.4px;
}
.frame62,
.heading-212 {
  width: 89px;
}
.heading-212 {
  top: calc(50% - 18px);
  left: calc(50% - 44.5px);
}
.frame62 {
  top: 59px;
  left: 83.5px;
  overflow: hidden;
  font-size: var(--font-size-17xl);
}
.button15 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumslateblue);
  width: 134.3px;
  height: 40px;
}
.frame49,
.frame55,
.frame63 {
  position: absolute;
  overflow: hidden;
}
.frame63 {
  top: 483.2px;
  left: 60.9px;
  width: 134.3px;
  height: 40px;
  color: var(--color-white);
  font-family: var(--font-rubik);
}
.frame49,
.frame55 {
  top: 0;
  left: 0;
  width: 256px;
  height: 523.2px;
  text-align: center;
}
.frame49 {
  top: 72px;
  left: 20px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.frame45 {
  top: 5593.5px;
  left: 48px;
  width: 296px;
  height: 595.2px;
  overflow: hidden;
  font-size: var(--font-size-base-9);
  color: var(--color-white);
}
.frame45,
.icon1,
.image1 {
  position: absolute;
}
.icon1 {
  top: 142.4px;
  left: 1.1px;
  width: 351.1px;
  height: 221.4px;
  object-fit: contain;
}
.image1 {
  bottom: 160.7px;
  left: calc(50% - 175.75px);
  border-radius: var(--br-3xs);
  width: 351px;
  height: 300px;
}
.heading-15 {
  position: absolute;
  top: 0;
  left: calc(50% - 35.9px);
  letter-spacing: -1.5px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74.1px;
  height: 40px;
}
.students-registered-txt-container1 {
  line-break: anywhere;
  width: 100%;
}
.students-registered1 {
  position: absolute;
  top: 49.6px;
  left: calc(50% - 34.3px);
  font-size: var(--font-size-sm);
  line-height: 16.8px;
  display: flex;
  align-items: center;
  width: 68.8px;
  height: 33.6px;
}
.paragraph13 {
  position: absolute;
  top: calc(50% - 41.8px);
  left: 10px;
  width: 94px;
  height: 83.6px;
}
.course-completion-rate-container2,
.heading-16 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.heading-16 {
  width: 85.5px;
  letter-spacing: -1.5px;
  line-height: 40px;
  justify-content: center;
  height: 40px;
}
.course-completion-rate-container2 {
  width: 103.4px;
  font-size: var(--font-size-sm);
  line-height: 16.8px;
  height: 33.6px;
}
.paragraph14 {
  position: absolute;
  top: calc(50% - 41.8px);
  left: 124px;
  width: 109.9px;
  height: 83.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-9xs-2) 0 var(--padding-9xs-3);
  box-sizing: border-box;
  gap: var(--gap-4xs);
}
.user-retention-rate-container2 {
  width: 59.3px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 16.8px;
  display: flex;
  align-items: center;
  height: 50.4px;
  flex-shrink: 0;
}
.paragraph15 {
  position: absolute;
  top: calc(50% - 50.2px);
  left: 253.8px;
  width: 87.2px;
  height: 100.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-12xs-6) 0 0;
  box-sizing: border-box;
  gap: var(--gap-4xs);
}
.overlayoverlayblur1 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 175.25px);
  backdrop-filter: blur(10px);
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-300);
  width: 351px;
  height: 140.4px;
  overflow: hidden;
}
.frame64,
.frame65 {
  position: absolute;
  top: 0;
  left: 0;
  width: 351.5px;
  height: 460.7px;
  overflow: hidden;
}
.frame64 {
  top: 6698.7px;
  left: 20.5px;
  width: 352.2px;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
}
.container-parent {
  width: 100%;
  position: relative;
  height: 9182.3px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-dm-sans);
}
